@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#proc, textarea.form-control {
    height: 35vh;
    overflow-y: auto;
    background-color: #fff;
    color: #000;
}

#editor {
    overflow-y: auto;
    max-height: 45vh;
}

html, body {
    height: 100%;
    margin: 0;
    background: url("https://images.pexels.com/photos/3784221/pexels-photo-3784221.jpeg") no-repeat center center fixed;
    background-size: cover;
    background-color: #777B7E !important;
}

#root, .App {
    background-color: transparent !important;
}

#proc,
textarea.form-control,
#editor {
    background-color: #1e1e1e !important;
    color: #f5f5f5 !important;
    border-radius: 12px;
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#roll {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
}

.custom-navbar {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://i.pinimg.com/originals/8a/73/83/8a7383cc0d123e40d379f8c2b6ac96ad.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-family: "Righteous", sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #fff;
    text-shadow: 0 0 10px #ffd700, 0 0 25px rgba(255, 215, 0, 0.7);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-brand {
    font-size: 2.8rem !important;
    text-shadow: 0 0 10px #ffd700, 0 0 25px rgba(255, 215, 0, 0.7);
    text-align: center;
    display: block;
    width: 100%;
}